*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
    /* Variables for storing colors */
    --card-clr: #ffff;
    --body-clr: #B1B493;
    --primary-clr: black;
    --heading-clr: #dadada;
    --text-clr: #999999;
}
/*..............................................Manab.....................................................*/
/* .............................................Manab...............................................................*/
/* ........................................................sourik...................................................... */
#contact_us {
    padding-top: 50px;
    height: 600px;
    width: 100%;
    background-color: #f8f9fa;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    a {
        text-decoration: none;
        color: rgba(175, 179, 146, 255);
    }

    h3 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgba(176, 178, 155, 255);
    }

    p {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgb(82, 82, 81);
    }
}

.rik_details {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    column-gap: 80px;
}

.rik_user_contact {
    width: 35%;
    height: 428px;
    background-color: rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    row-gap: 2px;
    border-radius: 10px;
}

.rik_user_contact input {
    height: 40px;
    width: 400px;
    border: 2px solid rgba(176, 178, 155, 255);
    border-radius: 5px;
}

.rik_user_contact textarea {
    height: 120px;
    width: 400px;
    border: 2px solid rgba(176, 178, 155, 255);
    border-radius: 5px;
}

.rik_user_contact input::placeholder {
    font-weight: 600;
}

.rik_user_contact textarea::placeholder {
    padding-top: 10px;
    font-size: 14px;
    font-weight: 800;
}

.rik_user_contact button {
    height: 40px;
    width: 400px;
    border: 2px solid rgba(176, 178, 155, 255);
    border-radius: 5px;
    background-color: rgba(176, 178, 155, 255);
    color: rgb(255, 255, 255);
    font-weight: 900;
}

.rik_contact_details {
    width: 30%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.rik_location {
    display: flex;
    align-items: center;
    width: auto;
    column-gap: 10px;

    i {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border: 2px solid rgb(170, 170, 170);
        border-radius: 50%;
        color: #f8f9fa;
        background-color: rgba(176, 178, 155, 255);
    }

    span {
        color: rgba(176, 178, 155, 255);
    }
}

.rik_phone,
.rik_email,
.rik_website {
    display: flex;
    column-gap: 10px;

    i {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border: 2px solid rgb(170, 170, 170);
        border-radius: 50%;
        color: #f8f9fa;
        background-color: rgba(176, 178, 155, 255);
    }

    span {
        color: rgba(176, 178, 155, 255);
    }
}

.rik_address1 {
    width: auto;
}

@media screen and (max-width:2560px) and (min-width:2100px) {
    .rik_user_contact input {
        height: 40px;
        width: 700px;
    }

    .rik_user_contact textarea {
        height: 120px;
        width: 700px;
    }

    .rik_user_contact button {
        height: 40px;
        width: 700px;
    }
}

@media screen and (max-width:1430px) and (min-width:1024px) {
    .rik_user_contact input {
        height: 40px;
        width: 300px;
    }

    .rik_user_contact textarea {
        height: 120px;
        width: 300px;
    }

    .rik_user_contact button {
        height: 40px;
        width: 300px;
    }
}

@media screen and (max-width:1022px) and (min-width:768px) {

    .rik_user_contact input {
        height: 40px;
        width: 200px;
    }

    .rik_user_contact textarea {
        height: 120px;
        width: 200px;
    }

    .rik_user_contact button {
        height: 40px;
        width: 200px;
    }

    .rik_contact_details {
        row-gap: 10px;
    }
}

@media screen and (max-width:766px) and (min-width:400px) {

    .rik_user_contact input {
        height: 40px;
        width: 250px;
    }

    .rik_user_contact textarea {
        height: 120px;
        width: 250px;
    }

    .rik_user_contact button {
        height: 40px;
        width: 250px;
    }

    .rik_details {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }

    #contact_us {
        height: 1200px;
    }

    .rik_user_contact {
        width: 80%;
    }

    .rik_contact_details {
        width: 80%;
    }

    .rik_text {
        p {
            font-size: 0.75rem;
        }
    }
}

@media screen and (max-width:425px) and (min-width:372px) {

    .rik_user_contact input {
        height: 40px;
        width: 250px;
    }

    .rik_user_contact textarea {
        height: 120px;
        width: 250px;
    }

    .rik_user_contact button {
        height: 40px;
        width: 250px;
    }

    .rik_details {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }

    #contact_us {
        height: 1200px;
    }

    .rik_user_contact {
        width: 80%;
    }

    .rik_contact_details {
        width: 80%;
    }

    .rik_text {
        p {
            font-size: 0.7rem;
        }
    }
}

@media screen and (max-width:371px) and (min-width:318px) {

    .rik_user_contact input {
        height: 40px;
        width: 250px;
    }

    .rik_user_contact textarea {
        height: 120px;
        width: 250px;
    }

    .rik_user_contact button {
        height: 40px;
        width: 250px;
    }

    .rik_details {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }

    #contact_us {
        height: 1200px;
    }

    .rik_user_contact {
        width: 80%;
    }

    .rik_contact_details {
        width: 80%;
    }

    .rik_text {
        p {
            font-size: 0.7rem;
        }
    }
}

/* .....................................footer..................... */
.footer {
    padding-top: 50px;
    padding-bottom: 20px;
    height: auto;
    background-color: rgba(34, 41, 49, 255);
    color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer a {
    text-decoration: none;
    color: antiquewhite;
}

.footer ul {
    list-style: disc;
}

.footer_text1 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 10px;
}

.footer_text11 {
    width: 250px;
    line-height: 30px;
    font-size: 20px;

    span {
        color: rgb(170, 170, 170);
        font-size: 17px;
    }

    button {
        width: 100px;
        height: 30px;
        background-color: rgba(176, 178, 155, 255);
        border-radius: 5px;
        font-weight: 700;
    }
}

.footer_text12 {
    width: 20%;
    line-height: 30px;
    padding-left: 10%;

    ul a {
        color: rgb(170, 170, 170);
        font-size: 17px;
    }
}

.footer_text13,
.footer_text14 {
    line-height: 30px;
    font-size: 17px;

    span {
        color: rgb(170, 170, 170);
    }

    a {
        color: rgb(170, 170, 170);
    }
}

.rik_social {
    display: flex;
    column-gap: 10px;
}

#twit,
#insta,
#linked i {
    width: 50px;
    height: 50px;
    border: 2px solid rgb(170, 170, 170);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: antiquewhite;
}

.footer_text2 {
    border-top: #f8f9fa dotted 0.5px;
    width: 100%;
    padding-top: 30px;
    color: rgb(170, 170, 170);

}

@media screen and (max-width:2560px) and (min-width:2100px) {}

@media screen and (max-width:1022px) and (min-width:768px) {

    #twit,
    #insta,
    #linked i {
        width: 40px;
        height: 40px;
    }

    .footer_text14 {
        i {
            font-size: 0.9rem;
        }

    }

}

@media screen and (max-width:720px) and (min-width:372px) {
    .footer_text1 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 40px;

        h2 {
            font-size: 1.5rem;
            width: max-content;
        }

        span {
            font-size: 1rem;
            width: max-content;
        }

        ul a {
            font-size: 1.1rem;
            width: max-content;
        }

        a {
            font-size: 1.1rem;
            width: max-content;
        }

        i {
            font-size: 1.1rem;
        }

        #twit,
        #insta,
        #linked i {
            font-size: 1.1rem;
            width: 40px;
            height: 40px;
        }
    }

    .footer_text11 {
        line-height: 20px;

        button {
            width: 70px;
            height: 30px;
            font-size: 0.6rem;
        }
    }

    .footer_text13 {
        padding-left: 10%;
    }

    .footer_text2 {
        font-size: 0.8rem;
    }
}

@media screen and (max-width:371px) and (min-width:318px) {
    .footer_text1 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 40px;

        h2 {
            font-size: 1.5rem;
            width: max-content;
        }

        span {
            font-size: 1rem;
            width: max-content;
        }

        ul a {
            font-size: 1.1rem;
            width: max-content;
        }

        a {
            font-size: 1.1rem;
            width: max-content;
        }

        i {
            font-size: 1.1rem;
        }

        #twit,
        #insta,
        #linked i {
            font-size: 1.1rem;
            width: 40px;
            height: 40px;
        }
    }

    .footer_text13 {
        padding-left: 10%;
    }


    .footer_text11 {
        line-height: 20px;

        button {
            width: 70px;
            height: 30px;
            font-size: 0.6rem;
        }
    }

    .footer_text2 {
        font-size: 0.8rem;
    }
}

/* ........................................................sourik...................................................... */
